@import './variable';

.cart {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    visibility: hidden;



    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 60%;
        padding: 5rem;
        margin: 5rem auto;
        background-color: $color-white;
        gap: 2rem;


        @include md {
            width: calc(100% + -5em);
        }

        @include lg {
            width: calc(100% + -10em);
        }

        @include sm {
            width: 100%;
        }

        p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            width: 100%;
            line-height: 1rem;

            i {
                color: $color-red;
            }

            span {
                padding-left: 1rem;
                cursor: pointer;
            }
        }

        &--box {
            display: flex;

            @include md {
                flex-direction: column;
                gap: 2rem;
            }
        }

        &--left {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            height: 100%;
            gap: 2rem;
            padding: 1rem 0;


        }

        &--right {
            flex-basis: 100%;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 13rem;
        height: 25rem;
        box-shadow: 0 1px 2px -1px $color-dark;
        margin: 3rem 0;


        >* {
            padding-bottom: 1rem;
        }

        @include xs {
            width: calc(100% + 2em);
        }



        &--img {


            img {

                height: 10rem;
                width: 100%;
                max-width: 100%;
                object-position: center;
                object-fit: cover;

                @include sm {
                    object-fit: fill;
                    height: 16rem;
                }

            }

        }

        &--details {

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 1rem;
            }
        }

        &--quantity {
            select {
                height: 3rem;
                width: 5rem;
                outline: none;
                border: none;
                box-shadow: 0 1px 2px -1px $color-dark;
                font-size: 1rem;
            }
        }

        &--price {
            font-weight: 600;
            color: $color-dark;
            font-size: clamp(1rem, 5vw, 1.1rem);
        }

        &--remove {
            cursor: pointer;
            width: 100%;
            padding: 1em;
            background-color: $color-red;
            color: $color-white;
            text-align: center;

            i {
                padding-right: .5rem;
            }
        }

    }

    &__subtotal {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 30rem;
        border-radius: .5rem;
        box-shadow: 0 1px 2px -1px $color-dark;
        position: relative;

        h1 {
            font-size: clamp(1.1rem, 5vw, 1.5rem);
            letter-spacing: .2rem;
            color: $color-red;
            padding: 5rem 2rem 0rem 2rem;
        }

        p {
            font-size: clamp(1.1rem, 5vw, 1.5rem);
            letter-spacing: .2rem;
            font-weight: 600;
            color: $color-black;
            opacity: .9;
            padding: 0 2rem;
        }

        &--disabled {
            height: 5rem;
            width: 100%;
            border-radius: 0 0 .5rem .5rem;
            padding: .5rem;
            outline: none;
            border: none;
            font-size: clamp(1.3rem, 5vw, 1.5rem);
            letter-spacing: .1em;
            color: $color-white;
            background-color: $color-lightblue;
            opacity: .5;
            cursor: not-allowed;
            pointer-events: none;
            gap: 1rem;

        }

        &--checkout {
            display: block;
            height: 5rem;
            width: 100%;
            border-radius: 0 0 .5rem .5rem;
            outline: none;
            border: none;
            font-size: clamp(1.3rem, 5vw, 1.5rem);
            letter-spacing: .1em;
            color: $color-white;
            background-color: $color-blue;
            transition: background .8s;
            background-position: center;
            background-image: radial-gradient(circle, transparent 1%, $color-lightblue .5%);
            background-size: 12000%;
            opacity: .9;
            cursor: pointer;
            gap: 1rem;


            i {
                color: $color-lightblue;

            }

            &:active {
                background-color: $color-white;
                transition: background 0s;
                background-size: 100%;
            }

            &:hover {
                opacity: 1;
            }

        }
    }
}