@import './variable';

.loader__container {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    z-index: 1000;
    animation: changeColor 5s linear infinite;


    @keyframes changeColor {
        0% {
            filter: hue-rotate(0deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }
    }

    h1 {
        color: $color-black;
        letter-spacing: .5em;
        font-weight: 300;
    }

    p {
        padding: 5rem;
        font-size: 3rem;
        letter-spacing: 0.2em;
        color: $color-dark;
        opacity: 0.05;
        width: auto;
    }

    button {
        margin-top: 2rem;
        padding: 1em 2em;
        width: 100%;
        border-radius: .5rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
        letter-spacing: .1em;
        color: $color-white;
        transition: all .4s;
        cursor: pointer;
        background-color: $color-blue;
        transition: background .8s;
        background-position: center;
        background-image: radial-gradient(circle, transparent 1%, $color-lightblue .5%);
        background-size: 12000%;
        opacity: .9;

        &:active {
            background-color: $color-white;
            transition: background 0s;
            background-size: 100%;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.loader {
    display: flex;



    &__dot {
        position: relative;
        display: block;
        height: 2rem;
        width: 2rem;
        transform: scale(0.1);
        background-color: $color-lightblue;
        box-shadow: 0 0 10px $color-blue,
            0 0 20px $color-blue,
            0 0 30px $color-blue,
            0 0 40px $color-blue,
            0 0 50px $color-blue,
            0 0 60px $color-blue;
        margin: 2rem 1rem;
        border-radius: 50%;
        animation: animateDot 1.4s linear infinite;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}n) {
                animation-delay: #{$i * 0.1}s;
            }
        }

        @keyframes animateDot {
            0% {
                transform: scale(0.1);
            }

            10% {
                transform: scale(1);
            }

            50% {
                transform: scale(0.1);
            }

            100% {
                transform: scale(0.1);
            }
        }
    }


}