@import './variable';

.profile {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    padding: 5rem;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    visibility: hidden;


    &__main {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 65%;
        border: none;
        padding: 2rem 0;
        border-radius: .5rem;
        gap: 4rem;
        min-height: 60rem;
        
        @include lg {
            width: 95%;
        }

        @include sm {
            width: 100%;
            padding: 2rem 0;
        }


        >* {
            flex-basis: 100%;
        }

        @include md {
            display: flex;
            flex-direction: column;
        }

        &--content {
            height: 60rem;
        }


        &--order {
            
            table {   
                width: 100%;
                border-collapse: collapse;
                box-shadow: rgba(0, 0, 0, 0.20) 0px 8px 24px 0px;
                border-radius: .5rem;

                td,
                th {
                    padding: 1rem 1rem;
                    border: 1px solid rgba($color: $color-blue, $alpha: .05);
                    text-align: center;
                    font-size: 1rem;

                    .fas {
                        display: flex;
                        justify-content: center;
                    }

                }

                td {
                    text-align: left;

                    @include sm {
                        text-align: right;
                        padding-left: 50%;
                        text-align: right;
                        position: relative;
                    }

                    &::before {

                        @include sm {
                            content: attr(data-label);
                            position: absolute;
                            left: 0;
                            width: 50%;
                            padding-left: 15px;
                            font-size: 15px;
                            font-weight: bold;
                            text-align: left;
                        }

                    }
                }

                th {
                    background-color: $color-blue;
                    color: $color-white;
                }

                tr {
                    @include md {
                        background-color: $color-white;
                    }

                    @include sm {
                        margin-bottom: 15px;
                    }
                }

                tbody {
                    tr:nth-child(even) {
                        background-color: $color-white;
                    }
                }


                thead {

                    @include sm {
                        display: none;
                    }
                }

                tbody,
                tr,
                td {

                    @include sm {
                        display: block;
                        width: 100%;
                    }
                }
            }

        }

        &--content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 3rem;
            gap: 1rem;
            min-width: 25rem;
            background-color: $color-white;
            box-shadow: rgba(0, 0, 0, 0.20) 0px 8px 24px 0px;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 1rem;
                height: 100%;
            }

            &--input {
                display: flex;
                flex-direction: column;

                @include md {
                    padding: 1rem;
                }

                @include sm {
                    padding: 0;
                }

                label {
                    font-size: .9rem;
                    font-weight: 600;
                    padding-bottom: .3rem;
                }

                input {
                    display: flex;
                    justify-content: center;
                    height: 4rem;
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    border: 1px solid rgba($color: $color-blue, $alpha: .05);
                    padding: 1rem;


                    &::placeholder {
                        font-size: 1rem;
                    }
                }

            }

            &--account {

                p {
                    font-size: 1rem;
                    font-weight: 300;

                }

                &-sign {
                    color: $color-black;
                    opacity: 1;
                    font-weight: 600;
                    text-decoration: underline;
                }

            }


            &--button {

                @include md {
                    padding: 1rem;
                }

                @include sm {
                    padding: 0;
                }

                button {
                    height: 4rem;
                    width: 100%;
                    border-radius: .5rem;
                    outline: none;
                    border: none;
                    background: linear-gradient(to right, $color-blue, $color-lightblue);
                    opacity: .7;
                    font-size: 1.2rem;
                    letter-spacing: .1em;
                    color: $color-white;
                    transition: all .4s;
                    cursor: pointer;
                    background-color: $color-blue;
                    transition: background .8s;
                    background-position: center;
                    background-image: radial-gradient(circle, transparent 1%, $color-lightblue .5%);
                    background-size: 12000%;
                    opacity: .9;

                    &:active {
                        background-color: $color-white;
                        transition: background 0s;
                        background-size: 100%;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }

            }
        }
    }
}